/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

/* legere mod de la dispo du header pour ajouter le bandeau admin */ 
.header-corp {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover,li a:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure  {
	flex: 1
}


/* ajout de la figcaption */ 
#introduction img, #introduction figcaption {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction figcaption {
	margin-top: 10px;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact > * {
	text-align: center;

}

#contact h2{
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#categories{
	margin-top: 10px;
	height: 40px;	
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
} 

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/* stylisme des boutons*/
.filters{
	text-align: center;
	margin-bottom: 3%;
}

.filters > button {
	border-radius: 60px;
	padding: 5px 10px;
	
}

.btn-inactive {
	background: white;
	border: solid 1px #1D6154;
	color:#1D6154;	
}

.btn-active {
	background:  #1D6154;
	color:white
	
}


/* ajout d'un bold sur le lien actif dans nav */ 
.active-link {
	font-weight: bolder;
}

.active-link:hover{
	color: black;
}


/* page de login */
.login{
	margin: auto;
	width: 50%;
	text-align: center;
}
form {
	
	display: flex;
	flex-direction: column
}
.input-group {
	margin-top:30px;
	display:flex;
	flex-direction: column;
	text-align: left;
}
form input{
	margin: 10px 0;
	height: 30px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

form button{
	border: none;
	background: none;
	text-decoration: underline;
}

nav a {
	text-decoration : none;
	color: black;
}


/* stylime des liens dans la page*/
article a {
	margin-bottom: 20px; 
}

.magic{
	display: none;
}

.magic a {
	text-decoration: none;
	color: black;
}

* a:hover{
	cursor: pointer
}


/* mise en forme de la modale */

#modal{
	position: fixed;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);

}

.modal-container {
	position: relative;
	margin-top: 15%;
	margin-bottom: 5%;
	overflow: none;
	width: 30%;
	height: 65%;
	max-height: 70%;
	background-color: white;
	border-radius: 10px;
}

/* positionnement de la croix de fermeture dans la modale */

.close-modal-cross{
	position:absolute;
	top: 20px;
	right: 20px;
}

.cancel-add{
	position: absolute;
	top: 20px;
	left: 20px;
}

h3{
	font-family: 'Work sans';
	font-weight: 400;
	font-size: 26px;
	color: black;
}

.one h3, .two h3 {
	text-align: center;
	padding-top: 40px;
}


/* design grid modal */
#modal-gallery {
	padding-top: 25px;
	margin:auto;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 2%;
	grid-row-gap: 3%;
}

#modal-gallery figure img {
	width: 100%;
	margin: 0;
	border-bottom: 1px solid #B3B3B3
}
#modale-gallery figure a {
	margin-top: 10px;
} 

.modal-gallery-btn-container{
	display: flex;
	flex-direction: column;
}

.modal-gallery-btn-container input{
	width: 35%;
	margin-top: 10%;
	margin-bottom: 5%;
	
}
.delete-gallery {
	border: none;
	background: none;
	color: red;
}

.photo-add{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 1em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	border:none;
	padding: 10px;
}

/* ajout du header en mode admin */
.header-add{
	background-color: black;
	color: white;
	padding:10px 0;
}

.header-add-button-container{
	display: flex;
	margin: auto;	
}

.header-add-button-container p{
	padding: 10px;
	font-weight: 300;
	font-size: 10px
}

.header-add-button-container button{
	background-color: white;
	color: black;
	border: none;
	border-radius: 50px;
	padding: 10px;
	font-size: 10px
}

.connected:hover {
	cursor: pointer;
}

/* design de la page d'ajout de photo */

.add-photo-form-container {
	margin: auto;
	width: 70%;
}

.input-file-container {
	margin-top: 25px;
	margin-bottom: 10px;
	width: 100%;
	min-height: 200px;
	background-color: #E8F1F6;
	display:flex;
	flex-direction: column;
}

.greyline {
	margin: auto;
	margin-top: 20px;
	width: 100%;
	height: 1px;
	background-color: #B3B3B3;
}

.modal-gallery-container {
	margin: auto;
	width: 80%;
	padding-bottom: 20px;
	border-bottom: 1px solid #B3B3B3
}

.custom-file-upload{
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 60%;
	background-color:#CBD6DC;
	color:#306685;
	border: none;
	padding: 10px;
	cursor: pointer;
	border-radius: 50px;
	
}
.format-type{
	display: flex;
	padding: 10px 0;
	margin:  auto;
	justify-content: center;
	font-size: 12px;
}
  
.custom-file-upload span {
	font-weight: bold;
}

.custom-file-upload input[type="file"] {
	display: none;
}

.pic-preview-container {
	padding-top : 20px;
	display: flex;
	margin: auto;
	width: 100px;
	height: 120px;
}

#pic-send {
	background-color: #A7A7A7
}


#enlarge {
	width: 100%;
	height: 100%;
	color: #306685;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 80px;
}

#previewImage {
	width: 100%;
}

/* design du bouton trashcan dans les mini de la modale*/

.trashcan {
	position: relative;
}

.icon-container{
	width: 15px;
	height: 15px;
	display: flex;
	justify-content: center;
	align-items: center;;
	background-color: black;
	color: white;
	position: absolute;
	top: 5px;
	right: 5px;
}
.project-title{
	display: flex;
	align-items:last baseline;
	justify-content: center;;
}
.project-title a{
	margin-left : 3%
}